
//
// BASE
//

body {
  background: $body-bg;
  padding-top: 60px;
  font-family: $helvetica;
  font-size: $font-size-base;
  color: $black;
}

.main {
    background-color: $white;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}