
//
// BASE
//

html, body {
    height: 100%;
}

body {
  font-family: $helveticaNeue;
  font-size: $font-size-base;
  color: $font-color;
  padding-top: $navbar-height;
  background-color: $brand-color-2
}

.roughcast {
    background: url('images/roughcast-blue.png') center center repeat;
    padding-bottom: 30px;
}

.main {
    margin-top: 30px;
    background-color: $white;
}

.box {
    padding: 15px;
}

h2 {
    font-size: $h2-size;
    color: $h2-color;
    margin-bottom: 30px;
}

.text-brand-1 {
    color: $brand-color-1;
}

.text-brand-2 {
    color: $brand-color-2;
}

.text-brand-3 {
    color: $brand-color-3;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

