
//
// FOOTER
//

footer {
    text-align: center;
    background-color: $brand-color-2;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    position: relative;
    clear: both;
    margin-top: - $footer-height;
    height: $footer-height;
    
    .footer__adress {
        padding-top: 15px;
        padding-bottom: 15px;
        color: $white;
    }
}

