
//
// FOOTER
//

footer {
    text-align: center;
    background-color: $white;
    width: 100%;
    
    .footer__adress {
        padding-top: 15px;
        padding-bottom: 15px;
        color: $black;
    }
}

