
//
// HEADER
//

header {

	.navbar {
	    border-top: 10px solid $brand-color-1;
	    border-radius: 0px;
	    background-color: $white;
	    font-size: $navbar-font-size;
	}
	
	.navbar-brand {
    	padding: 0;
	}
	
	.navbar__flags {
    	margin-right: 5px;
    	padding-top: 5px;
	}
	
	.navbar__flag {
    	width: 45px;
    	padding-top: 5px;
    	height: auto;
	}
}

