
//
// HEADER
//

header {

	.navbar {
	    background-color: $white;
	    font-size: $navbar-font-size;
	    
	    .navbar-nav {
    	    
	        li.active {
        	    a,
        	    a:hover {
                	background-color: $brand-color-2 !important;
                	color: $white !important;
                }
            }
            .open {
                a.dropdown-toggle,
                a.dropdown-toggle:hover {
                    background-color: $white !important;
                    color: $black !important;
                }
            }
        }
	}
	
	.navbar-brand {
    	padding: 0;
	}
	
	.navbar__flags {
    	margin-right: 5px;
    	padding-top: 5px;
	}
	
	.navbar__flag {
    	width: 45px;
    	padding-top: 5px;
    	height: auto;
	}
}

