
//
// VARIABLES
//

// Brand colors
$body-bg: #9CF;
$brand-color-1: #F00;
$brand-color-2: #039;

// Colors
$black: #000;
$white: #FFF;
$blue:  #039;
$red:   #F00;

// Sizes
$font-size-base: 16px;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Header
$header-font-size: 20px;
$navbar-font-size: 15px;

