
//
// VARIABLES
//

// Brand colors
$body-bg: #9CF;
$brand-color-1: #F00;
$brand-color-2: #039;
$brand-color-3: #9CF;
$brand-color-3-lighter: #CCE5FF;

// Colors
$black: #000;
$white: #FFF;
$blue:  #039;
$red:   #F00;

// Font settings
$font-size-base: 16px;
$font-color: $black;
$h2-size: 30px;
$h2-color: $brand-color-2;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Header
$header-font-size: 20px;
$navbar-font-size: 15px;

//Footer
$footer-height: 160px;
